<% if current_user %>
<div>Products
    <li><%= link_to "New Product", new_product_path , class: "menu-link" %></li>
    <li><%= link_to "List Product", products_path, class: "menu-link" %></li>
    <li><%= link_to "New Categorie", new_category_path, class: "menu-link" %></li>
    <li><%= link_to "List Categories", categories_path, class: "menu-link" %></li>
</div>
<% end %>