<% if current_user %>
<div class="p-4 sm:ml-64">
   <div class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700">
      <h1 class="text-3xl p-5 text-white-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-white whitespace-nowrap">List of Categories</h1>

      
      <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          Category Name
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Edit
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Delete
                      </th>
                  </tr>
              </thead>
              <tbody>
              <% @categories.each do |category| %>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          <%= category.name %>
                      </th>
                      <td class="px-6 py-4">
                          <%= link_to 'Edit', category %>
                      </td>
                      <td class="px-6 py-4">
                          <%= link_to "Delete", category, data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
                            } %>
                      </td>
                  </tr>
              </li>
            <% end %>
                  
              </tbody>
          </table>
      </div>

  </div>
</div>
<% end %>